html {
    background-color: #fa923f;
    padding: 10px;
}

body {
    background-color: yellow;
    padding: 10px;
    margin: 0;
}

/*flexbox*/
.parent {
    background-color: #f073e1;
    margin: 10px;
    padding: 30px;
    height: 500px;
    display: flex;
    flex-flow: row wrap; /* flex-direction flex-wrap shorthand */
    /* flex-direction depends on axis, see image 3. Axis difference */
    /* flex wrap: wrap; wraps elements if size decreased */
    align-items: center; /* aligns respective to cross-axis */
    justify-content: center; /* align respective to main axis */
    align-content: space-around; /* works when we have more than one line, 
    tells what happens to the extra space present between lines across cross axis */
}

.div1 {
    background-color: #f800db;
    margin: 5px;
    width: 100%;
}

.div2 {
    background-color: #f800db;
    margin: 5px;
    width: 150px;
    font-size: 30px;
}

.div3 {
    background-color: #f800db;
    margin: 5px;
    height: 150px;
}

.div4 {
    background-color: #f800db;
    margin: 5px;
    width: 150px;
    height: 150px;         
}

.div5 {
    background-color: #f800db;
    margin: 5px;
    width: 200px;           
}

.div6 {
    background-color: #f800db;
    margin: 5px;
    width: 200px;
}